################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/fibonacci-sequence-test/common-types/bin/Debug
